# Environment configuration (development || production)
NODE_ENV=development

# Backend port configuration
PORT=3000

# Prisma database URL
DATABASE_URL=mysql://root:@localhost:3306/snapsi

# Stripe configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ONE_TIME_USD=
STRIPE_PRICE_SUBSCRIPTION_MONTHLY_USD=

# JWT configuration
JWT_SECRET=

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=